<h1>Converter</h1>

<strong>Original text</strong> <br>

<form action="/converter" method="get">
  <textarea name="originalText">{{originalText}}</textarea>
  <br>
  <button>Convert</button>
</form>


<br>
<strong>Converted text</strong> <br>

<pre>{{convertedText}}</pre>